#root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0 !important;
}

.row{
  margin: 20px 0;
}

.btn{
  min-width: 160px;
  margin-bottom: 10px;
}

p{
  padding: 0 10px;
  margin: 0;
  overflow: hidden;
}

p.editable{
  padding: 10px;
  outline: none;
  border: 1px dotted #26a69a;
}

nav{
  margin-bottom: 20px;
}

.row .col.s12{
  margin-bottom: 10px;
}